<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p> I am a sophomore at
      <a class="underline-link" href="https://www.iiitkottayam.ac.in/#!/home" target="_blank">Indian Institute of Information Technology Kottayam</a> studying Computer Science .
    </p>

    <p>
      As a software developer, I enjoy building software and applications which can help people. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, and good user experiences.
    </p>

    {% include employment-status.html %} 
  </div>
</section>
