<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
         <a href="https://stalk-stock.vercel.app" target="_blank">
          <img src="{{site.baseurl}}/img/featured/stalkstock/stalkstock.png" alt="">
        </a> 
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/starwiz-7/StalkStock" target="_blank">StalkStock</a>
        </div>
        <p>
        A web application to gamify trading of stocks, and portfolio management.Users can trade among 9000+ stock tickers and bookmark their favourite stocks.
        </p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/starwiz-7/Pluto-Chat" target="_blank">
          <img src="{{site.baseurl}}/img/featured/plutochat/plutochat.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/starwiz-7/Pluto-Chat" target="_blank">Pluto Chat</a>
        </div>
        <p>A chat application that uses Flask in the backend, and helps you stay connected with your friends :)</p>
      </figcaption>
    </div>
  </div>
</section>
